body {
  background-color: #000;
}
.container {
  text-align: center;
  max-width: 900px;
  margin: 60px auto 0;
}
.container button {
  cursor: pointer;
  background-color: #333;
  border: 0;
  padding: 12px;
  border-radius: 4px;
  margin: 6px;
  color: #fff;
  font-weight: bold;
  font-family: monospace;
}
.container button:hover {
  background-color: #444;
}
.small {
  width: 600px;
}
.range-slider {
  margin: 60px auto 0;
}
.range-slider[data-vertical] {
  height: 300px;
}
.range-slider.styled {
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23555' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E") #333;
}
.range-slider.styled .range-slider__range {
  background-color: #ffbf00;
}
.range-slider.styled .range-slider__thumb {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #faa307;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
  transition: transform .3s;
}
.range-slider.styled .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.1);
}
