body {
  background-color: #000;
}
.container {
  text-align: center;
  max-width: 900px;
  margin: 60px auto 0;
}
.container button {
  cursor: pointer;
  background-color: #333;
  border: 0;
  padding: 12px;
  border-radius: 4px;
  margin: 6px;
  color: #fff;
  font-weight: bold;
  font-family: monospace;
}
.container button:hover {
  background-color: #444;
}
#range-slider-1 {
  margin: 60px auto 0;
}
